<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ReferenceFolder" value="C:\Users\Administrator\Desktop\template00\template\inputPath2"/>
    <add key="InputFolderPath" value="C:\Users\Administrator\Desktop\template00\template\201804"/>
    <add key="OutputFolderPath" value="C:\Users\Administrator\Desktop\template00\template\201804\output"/>
    <add key="NumberValue" value="22"/>
    <add key="TextValue" value="sssss"/>
  </appSettings>
</configuration>