<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ReferenceFolder" value=""/>
    <add key="InputFolderPath" value=""/>
    <add key="OutputFolderPath" value=""/>
    <add key="NumberValue" value="22"/>
    <add key="TextValue" value="sssss"/>
    <add key="DateValue" value="2020/01/01"/>
  </appSettings>
</configuration>